{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <h1 class="display-1 text-center">Home django app</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa nesciunt ea minima voluptas quas vero quo at iusto natus aspernatur assumenda molestiae, beatae architecto perspiciatis, dolores saepe id recusandae nobis!

    </p>

<a class="btn btn-primary" href="/signin/">
    Signin
</a>
<a class="btn btn-secondary" href="/signup/">
    Signup
</a>


    
</main>
{% endblock %}